
.bg-image{
 
 
   height: 100vh;
   
}
.post{

    text-decoration: none;
    margin-left: 767px;
    font-size: 30px;
  
    color:rgb(90, 82, 82);
}
.blog-heading{
    text-align: center;
  
}
.mobileimage{
    opacity: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    margin-top: 30px;
}